.header-block{
  padding: 0 14px;
  background-color: #332b3b;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  flex:1;
}

.header-logo__link {
  color: #feac00;
  font-family: Roboto;
  @include font-size(16px);
  font-weight: 100;
}

.nav-item__link {
  opacity: 0.5;
  color: #ffffff;
  font-family: Roboto;
  @include font-size(16px);
  font-weight: 100;
  transition: opacity .3s;
  &:hover {
    opacity: 1;
  }
}

.header-nav {
  flex:2;
}

.nav-list {
  display: flex;
  justify-content: space-around;
}

.header-search {
  padding: 0 50px 0 10px;
}

.header-search__svg {
  width: 16px;
  height: 16px;
}

.header-button {
  display: flex;
}

.btn--trade {
  background-image: linear-gradient(180deg, #feac00 0%, #fd9600 100%);
  position: relative;
  padding-left: 45px;
  border-bottom: 2px solid #ca7700;
  transition: all .3s;
  &::after {
    content: '';
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:15px;
    background-image: url("../images/icons/trade.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 18px;
    height: 15px;
  }
}

.header-lang {
  background-image: url("../images/bg/flag.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 26px 0;
  margin: 0 20px;
  position: relative;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    top:0;
    bottom: 0;
    right:0;
    left:0;
    background-color: #000;
    opacity: .7;
    z-index: -1;
  }
  &::after {
    content: '';
    position: absolute;
    right:0;
    bottom:0;
    border: 7px solid transparent;
    border-right: 7px solid #feac00;
    border-bottom: 7px solid #feac00;
  }
}

.header-lang__text {
  color: #ffffff;
  font-family: 'Roboto';
  @include font-size(12px);
  font-weight: 400;
  text-transform: uppercase;
  padding:0 25px;
  z-index: 1;
}

.header-menu__svg {
  height: 16px;
  width: 16px;
}

.main-section {
  padding: 20px 0 25px;
}

.main {
  display: flex;
  flex-direction: column;
}

.main-top {
  display: flex;
}

.main-bottom {
  display: flex;
}

.main-left {
  flex:1;
}

.main-right {
  flex:1;
}

.main-left--bottom{
  background-color: #f6f6f6;
  border:1px solid #fff;
}

.main-right--bottom{
  background-color: #f6f6f6;
  border:1px solid #fff;
}

.main-title {
  text-align: center;
  color: #343434;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 22px;
}

.main-table {
  width:100%;
  border-collapse: collapse;
  position: relative;
  &.main-table--vip{
    &::after {
      content: '';
      position: absolute;
      top: 1px;
      right: 1px;
      height:42px;
      width:42px;
      background-image: url("../images/icons/vip.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.main-table__row {
  background-color: #f6f6f6;
  border-bottom: 1px solid #fff;
  &.main-table__row--active {
    background-color: #e6e6e6;
  }
}

.main-table__col {
  text-align: center;
  padding: 15px 0 14px;
  position: relative;
  line-height: 32px;
}

.main-table__col-check {
  width:10%;
  padding: 0 20px;
}

.main-table__input {
  opacity:0;
  position: absolute;
  left:-9999999;
}

.main-table__input-my {
  border:1px solid #cccccc;
  border-radius: 50%;
  background-color: #ffffff;
  width:18px;
  height:18px;
  position: relative;
  cursor: pointer;
}

.main-table__input:checked + .main-table__input-my:after {
  content: '';
  position: absolute;
  top:50%;
  left:50%;
  transform: translateY(-50%) translateX(-50%);
  width:9px;
  height:9px;
  border-radius: 50%;
  background-color: #64b213;
}

.main-table__col-depos {
  color: #4e2a81;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  width:30%;
}

.main-table__col-pers {
  color: #717171;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  width:20%;
}

.main-table__col-equally {
  color: #717171;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  width:10%;
}

.main-table__col-res {
  color: #717171;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  width:30%;
  padding-right: 20px;
  position: relative;
}

.main-table__signature{
  color: #a7a7a7;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  position: absolute;
  bottom:100%;
}

.main-table__signature--left {
  left:0;
}

.main-table__signature--right {
  left:14%;
}

.main-table__col-method {
  width:42%;
}

.col-method__content {
  display: flex;
  align-items: center;
}

.col-method__svg {
  float: left;
  max-height:32px;
  max-width:42px;
  fill: #b5b5b5;
}

.col-method__title{
  color: #717171;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
  position: relative;
  line-height: 16px;
  text-align: left;
  &:after {
    content: '';
    height:17px;
    width:17px;
    position: absolute;
    top:50%;
    right: -27px;
    transform: translateY(-50%);
    background-image: url("../images/icons/info.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.col-method__title-two {
  &:after {
    right: -5px;
  }
}

.main-table__col-bonus {
  width: 27%;
  background-image: url("../images/icons/orange-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding:10px 0;
}

.col-bonus__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-bonus__content-persent{
  color: #9c0401;
  font-family: Roboto;
  font-size: 23px;
  font-weight: 700;
  line-height: 32px;
  display: inline-block;
}

.col-bonus__content-text{
  color: #4e2a81;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 32px;
  display: inline-block;
  padding-left: 10px;
}

.main-table__col-visa {
  width: 21%;
}

.col-visa__list {
  display: flex;
  justify-content: flex-end;
  padding:0 5px;
}

.col-visa__item {
  display: inline-block;
  width: 42px;
  height: 26px;
  border-radius: 2px;
  position: relative;
}

.col-visa__img {
  width:100%;
}

.col-banks__list {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px 0 50px;
}

.col-banks__link {
  height: 26px;
  width: 26px;
  position: relative;
  padding: 0 3px;
}

.col-banks__img {
  width:100%;
}

.pay {
  background-color: #f6f6f6;
  padding: 25px 20px;
  justify-content: space-between;
  display: flex;
}

.pay-block__title{
  color: #343434;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.pay-label {
  position: relative;
  display: inline-block;
  &::after {
    content: 'Bath';
    position: absolute;
    right:0;
    top:0;
    bottom: 0;
    background-color:#f6f6f6;
    color: #717171;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding:10px;
    border: 1px solid #cccccc;
    border-left: 1px solid transparent;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.pay-input{
  border-radius: 4px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  padding: 9px 45px 9px 10px;
  position: relative;
  color: #4e2a81;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  width: 160px;
}

.pay-plus {
  font-family: Roboto;
  font-size: 35px;
  font-weight: 100;
  color: #b5b5b5;
  display: flex;
  align-items: center;
  padding: 15px 20px 0;

}

.pay-select {
  border-radius: 4px;
  border: 1px solid #cccccc;
  color: #4e2a81;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  width: 160px;
  padding: 9px 15px 9px 43px;
}

.pay-label__select {
  display: inline-block;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    right:5px;
    top:42%;
    bottom: 0;
    border: 5px solid transparent;
    border-top: 6px solid #717171;
    cursor: pointer;
  }
  &::before {
    content: '50%';
    position: absolute;
    left:0;
    top:0;
    bottom: 0;
    color: #717171;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding:10px;
    border: 1px solid #cccccc;
    border-right: 1px solid transparent;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}

.pay-block__promo {
  padding-left: 25px;
}

.btn-promo {
  background-image: linear-gradient(180deg, #887d96 0%, #605073 100%);
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  border-bottom: none;
  padding: 10px 15px;
  margin:0;
}

.pay-block--get {
  padding-left: 85px;
}

.pay-block__content {
  color: #4e2a81;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 0;
  position: relative;
}

.pay-block__equally {
  font-family: Roboto;
  font-size: 35px;
  font-weight: 100;
  line-height: 20px;
  color: #b5b5b5;
  position: absolute;
  left: -30px;
}

.pay-block--btn {
  display: flex;
  align-items:flex-end;
  padding-left: 47px;
}

.btn-pay {
  padding: 10px 35px;
}

.security {
  display: flex;
  padding: 23px 0 23px 25px ;
}

.security-polit {
  flex:3;
  display: flex;
}

.security-polit__label {
  position: relative;
  padding-left: 25px;
}

.security-polit__text{
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  color: #717171;
  display: flex;
}

.security-polit__link{
  color: #3598db;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
}

.security-polit__input{
  opacity:0;
  height: 14px;
  width: 14px;
  position: absolute;
  top: 0;
  left:0;
}

.security-polit__input-my {
  height: 16px;
  width: 16px;
  border: 1px solid #ababac;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left:0;
  cursor: pointer;
}

.security-polit__input:checked + .security-polit__input-my:after {
  content:"";
  position: absolute;
  top: 3px;
  left: 1px;
  background-image: url("../images/icons/check.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 12px;
  width: 12px;
}

.security-company {
  flex:4;
}

.security-logo__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.security-logo__item {
  position: relative;
  height: 30px;
}

.security-logo {
  height:100%;
}